<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<form action="/quizes/answer" method="get">
		<p>Pregunta: <%= pregunta %></p>
		<input type="text" name="respuesta" value="Responde aquí">
		<input type="submit" value="Enviar">
	</form>
</body>
</html>